body {
    background-color: lightgray;
    background-repeat: no-repeat;
    font-family: verdana;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(75, 73, 73);
}

button {
    font-family: verdana;
    border: none;
    background-color: rgb(248, 152, 117); 
}

#keskiosa {
    text-align: center;
    background-color: rgba(49,49,49, 0.5);
    position: fixed;
    top: 20%;
    left: 50%;
    margin-top: -50px;
    margin-left: -150px;
    padding: 10 10 10 10;
    border-style: dotted;
}